:root {
    --light-blue:#649CCC;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:  #edf0f5; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-dark {
  background-color: var(--light-blue)!important;
  border-radius: 10px;
}

.autocomplete {
  display:absolute!important;
  z-index: 1;
  top:10px;
  background-color: aquamarine;
  color:blueviolet;
  overflow: auto;
  max-height: 120px;
}

.autosuggestElement:hover {
  background-color: #4c4f5b;
  cursor: pointer;
  color: #eeeeff !important;
  margin-bottom: 0px!important;
}

.btn-blue{
  background-color: var(--light-blue);;
  color:#FFFFF2
}
.text-blue {
  color: #649CCC;
  font-weight: bold;
}

.text-blue:hover {
  color: #7F055F;
  font-weight: bold;
}


.btn-blue:hover {
  color:#FFFFF2;
  background-color: var(--light-blue);
}

.text-bordo {
  color: #7F055F!important;
  /* #AF7595!important; */
}

.title-modal {
  font-family: "Roboto",
    sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.text-gray{
  color: #515151
}

.width-complete {
  width: 100%;
}

.btn:active{
transform: scale(.98);
color: #FFFFF2;
}

.form-check-input:checked {
    background-color: var(--light-blue);
    border-color: #5190c6;
}

.alert-box {
  border: 1px solid #7F055F;
  background-color: #fee7f8;
  color: #7F055F;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}